* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.navbar {
  background-color: #ffffff;
  margin-bottom: 69px;
}

.navbar__top {
  padding-top: 36px;
  padding-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__top--menu-button {
  display: none;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__item {
  margin-right: 49px;
}

.navbar__link {
  text-decoration: none;
  margin-right: 17px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #183B56;
}

.navbar__button {
  padding: 13px 32px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  background-color: #fff;
  color: #1565D8;
  border: 2px solid #1565D8;
  border-radius: 8px;
  cursor: pointer;
}

.navbar-bottom {
  display: none;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book__block {
  padding: 40px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.book__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin: 0;
  margin-bottom: 28px;
}

.book__title--color {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #FAAD13;
  margin: 0;
}

.book__image {
  padding: 103px 119px;
  background-color: rgba(179, 186, 197, 0.1);
}

.book__author {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 36px;
  color: #183B56;
}

.book__comment {
  max-width: 585px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
  margin-bottom: 56px;
}

.book__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book__button--primery {
  padding: 18px 37px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  border: none;
  color: #FFFFFF;
  background: #1565D8;
  border-radius: 8px;
  margin-right: 26px;
}

.book__button--outline {
  padding: 17px 50px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #1565D8;
  border: 2px solid #1565D8;
  border-radius: 8px;
  text-decoration: none;
}

.modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}

.modal__overlay--visible {
  visibility: visible;
  opacity: 1;
}

.modal__dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 478px;
  padding: 33px 88px;
  background-color: #1565D8;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 8px;
  z-index: 101;
  visibility: hidden;
  opacity: 0;
}

.modal__dialog--visible {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  position: absolute;
  right: 18px;
  top: 17px;
  text-decoration: none;
  cursor: pointer;
}

.modal__input {
  width: 100%;
  min-width: 139px;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  padding: 0 23px;
  height: 30px;
  margin-bottom: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  color: #183B56;
}

.modal__title {
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}

.modal__button {
  background-color: #fff;
  padding: 10px 18px;
  max-width: 150px;
  min-width: 115px;
  border-radius: 4px;
  border: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #183B56;
}

.product__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__block--title {
  top: 0;
  left: 0;
  margin: 0;
  margin-bottom: 30px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.product__recommendation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0;
}

.product__recommendation--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product__recommendation--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ECEEF2;
  max-width: 358px;
  max-height: 260px;
  margin-right: 25px;
  margin-bottom: 32px;
}

.product__recommendation--sector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 19px 17px 28px;
  max-height: 260px;
}

.product__recommendation--img {
  padding: 6px 0 11px 14px;
}

.product__recommendation--img img {
  border-radius: 8px;
  width: 160px;
  height: 240px;
  background-color: rgba(179, 186, 197, 0.1);
}

.product__recommendation--title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin: 0;
  margin-bottom: 16px;
}

.product__recommendation--descrip {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
  margin-bottom: 24px;
}

.product__recommendation--price {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1565D8;
  margin-bottom: 24px;
}

.product__recommendation--buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__recommendation--button {
  padding: 22px 277px 27px 282px;
  margin-top: -7px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #1565D8;
  background-color: rgba(21, 101, 216, 0.1);
  border-radius: 8px;
  border: none;
}

.product__buy {
  padding: 8px 24px;
  background: #183B56;
  border-radius: 2000px;
  color: #ffffff;
  margin-right: 25px;
}

.product__topmonth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
  max-width: 360px;
}

.product__topmonth--block {
  padding: 24px 50px 0 24px;
  border-radius: 8px;
  background-color: rgba(179, 186, 197, 0.1);
}

.product__topmonth--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product__topmonth--sector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 8px 0;
}

.product__topmonth--sector--very {
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.product__topmonth--sector--hooked {
  padding: 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.product__topmonth--img {
  margin-right: 26px;
  padding-bottom: 1px;
}

.product__topmonth--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  max-height: 178px;
}

.product__topmonth--title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin: 0;
  margin-bottom: 15px;
}

.product__topmonth--price {
  margin-bottom: 22px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1565D8;
}

.product__topmonth--line {
  text-align: center;
  width: 312px;
  height: 2px;
  border: 1px solid #ECEEF2;
  margin-bottom: 0;
}

.product__topmonth--best {
  padding: 27px 120px 26px 100px;
}

.product__topmonth--best--link {
  text-decoration: none;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #1565D8;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .book__button--primery {
    padding: 15px 25px;
    margin-right: 15px;
  }
  .book__button--outline {
    padding: 15px 20px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .navbar__item {
    margin-right: 25px;
  }
  .book__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .book__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .book__title {
    text-align: center;
  }
  .book__comment {
    text-align: center;
    max-width: 550px;
    margin-bottom: 30px;
  }
  .book__button--primery {
    padding: 15px 37px;
    margin-right: 15px;
  }
  .book__button--outline {
    padding: 15px 38px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
  body {
    padding-top: 111px;
  }
  .navbar__mobile--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__top--menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 22px;
    height: 16px;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .navbar__top--line {
    width: 22px;
    height: 2px;
    background-color: #3A4C66;
  }
  .navbar-bottom {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 111px;
    background-color: #fff;
    padding-top: 30px;
    overflow: auto;
  }
  .navbar-bottom--visible {
    display: block;
  }
  .navbar-menu {
    padding: 0;
  }
  .navbar-menu__item {
    list-style-type: none;
    margin-bottom: 20px;
  }
  .navbar-menu__link {
    text-decoration: none;
    font-size: 24px;
  }
  .book {
    margin: 0;
  }
  .book__image {
    padding: 70px 50px;
  }
  .book__comment {
    max-width: 520px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 479px;
  }
  .book__title {
    font-size: 32px;
    line-height: 40px;
  }
  .book__title--color {
    font-size: 32px;
    line-height: 40px;
  }
  .book__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .book__button--primery {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .book__comment {
    max-width: 420px;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 272px;
  }
  body {
    padding-top: 61px;
  }
  .logo {
    width: 77px;
    margin-left: -2px;
  }
  .navbar__top {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar__top--menu-button {
    width: 24px;
    height: 18px;
    margin-right: -3px;
  }
  .book__title {
    margin-bottom: 24px;
  }
  .book__author {
    margin-bottom: 32px;
  }
  .book__comment {
    line-height: 23px;
    max-width: 261px;
    margin-bottom: 17px;
  }
  .book__button--primery {
    padding: 8px 20px;
    margin-bottom: 10px;
  }
  .book__button--outline {
    padding: 8px 20px;
  }
  .book__image {
    padding: 42px 68px 59px 68px;
    max-width: 280px;
    max-height: 330px;
  }
}
/*# sourceMappingURL=style.css.map */