.product
    &__block
        display: flex
        justify-content: space-between
        &--title
            top: 0
            left: 0
            margin: 0
            margin-bottom: 30px
    &__object
        display: flex
        justify-content: space-between
        align-items: center
    &__recommendation
        align-items: center
        flex-wrap: wrap
        padding: 70px 0
        &--list
            display: flex
            align-items: center
            flex-wrap: wrap
            list-style-type: none
            margin: 0
            padding: 0
        &--item
            display: flex
            justify-content: space-between
            align-items: center
            border: 1px solid #ECEEF2
            max-width: 358px
            max-height: 260px
            margin-right: 32px
            margin-bottom: 32px
        &--sector
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
        &--img
            padding: 11px 0 11px 11px
    &__topmonth
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        &--list
            display: flex
            justify-content: space-between
            align-items: center
            flex-wrap: wrap
            list-style-type: none
            margin: 0
            padding: 0

